@import "@styles/utilities/variables";

.leaders-item {
    display: table-row;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    color: var(--color-primary);

    &__position {
        display: table-cell;
        min-width: 2rem;
        padding-right: 4px;
        text-align: center;
        vertical-align: middle;
        color: var(--color-background);
        background-color: var(--color-primary);
        border-top: 4px solid var(--color-primary);
        border-bottom: 4px solid var(--color-primary);
        border-left: 4px solid var(--color-primary);
    }

    &__avatar {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: .2rem .2rem .2rem .8rem;
        border-top: 4px solid var(--color-primary);
        border-bottom: 4px solid var(--color-primary);
    }

    &__user {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        padding: .2rem .8rem;
        border-top: 4px solid var(--color-primary);
        border-bottom: 4px solid var(--color-primary);
    }

    &__score {
        display: table-cell;
        padding: .2rem .8rem;
        vertical-align: middle;
        text-align: right;
        border-top: 4px solid var(--color-primary);
        border-right: 4px solid var(--color-primary);
        border-bottom: 4px solid var(--color-primary);
    }

    &_color_first {
        [class^="leaders-item"] {
            border-color: map_get($colors, gold);
        }

        .leaders-item__position {
            background-color: map_get($colors, gold);
        }
    }

    &_color_second {
        [class^="leaders-item"] {
            border-color: map_get($colors, silver);
        }

        .leaders-item__position {
            background-color: map_get($colors, silver);
        }
    }

    &_color_third {
        [class^="leaders-item"] {
            border-color: map_get($colors, bronze);
        }

        .leaders-item__position {
            background-color: map_get($colors, bronze);;
        }
    }
}
