html {
  font-size: 18px;
}

body {
  font-family: $font-primary;
  font-weight: 900;
  color: map_get($colors, primary);
  background-color: black;
}

a {
  color: map_get($colors, secondary);
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 1;
    text-decoration: none;
  }
}

//.input,
.error {
  font-size: 18px;
  width: 225px;
  height: 40px;
  border-width: 4px;
  border-style: solid;
  border-color: map_get($colors, primary);
  box-sizing: border-box;
  color: map_get($colors, primary);
  background-color: map_get($colors, background);
}

.error {
  border: 0;
  color: map_get($colors, danger);
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: map_get($colors, primary);
  margin-top: 40px;
}
