html {
  font-size: 18px;
}

body {
  font-family: $font-primary;
  font-weight: 900;
  color: map_get($colors, primary);
  background-color: black;
}

a {
  color: map_get($colors, secondary);
  text-decoration: none;

  &:hover,
  &:active {
    color: map_get($colors, primary);
  }
}
