html {
  font-size: 18px;
}

body {
  font-family: $font-primary;
  font-weight: 900;
  color: var(--color-primary);
  background-color: var(--color-background);
}

a {
  color: var(--color-secondary);
  text-decoration: none;

  &:hover,
  &:active {
    color: var(--color-primary);
  }
}
