.cursor-pointer {
  cursor: pointer;
}

.bg {
  &-color {
    &-game {
      background-color: map_get($colors, gray800);
    }
  }
}

.text {
  &-color {
    &-primary {
      color: map_get($colors, primary);
    }

    &-secondary {
      color: map_get($colors, secondary);
    }

    &-success {
      color: map_get($colors, success);
    }

    &-danger {
      color: map_get($colors, danger);
    }
  }

  &-size {
    &-xxxl {
      font-size: 10rem;
    }
  }

  &-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }
}