.cursor-pointer {
  cursor: pointer;
}

.bg {
  &-color {
    &-game {
      background-color: map_get($colors, gray800);
    }
  }
}

.text {
  &-color {
    &-primary {
      color: map_get($colors, primary);
    }

    &-secondary {
      color: map_get($colors, secondary);
    }

    &-white {
      color: #ffffff;
    }

    &-gray-500 {
      color: map_get($colors, gray500);
    }
  }

  &-size {
    &-xs {
      font-size: .5rem;
    }
    &-s {
      font-size: .7rem;
    }
    &-xxxl {
      font-size: 10rem;
    }
  }

  &-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }
}
