.avatar {
  height: 3rem;

  &__image {
    width: auto;
    height: 100%;
  }
  &__input {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  &_size {
    &_xs {
      height: 1.5rem;
    }

    &_l {
      height: 10rem;
    }
  }
}
